 <div class="px-2 w-100 d-flex justify-content-between border">
          <p class="m-0 small">Phone: {{number}}</p> 
          <p class="m-0 small">Device ID: {{device}}</p> 
          <p class="m-0 small">Max Temperature: {{maxtemp}}</p> 
          <p class="m-0 small">Min Temperature: {{mintemp}}</p> 
          <a id="{{id}}" class="edit-link m-0 delete-alert">Delete</a>
</div>